<main class="w-full max-w-5xl flex flex-col gap-8 relative z-10 pb-16 pt-4">
  <%= render "weather/header" %>
  <%= render "weather/search" %>
  <%= render "weather/error" %>

  <% if @result %>
    <% location = @result.location %>
    <% current  = @result.current_weather %>

    <div class="grid grid-cols-[2fr_3fr] gap-6 items-start">
      <div class="flex flex-col gap-4">
        <%= render "weather/current_weather", location: location, current: current %>
        <%= render "weather/details", location: location, current: current %>
      </div>
      <div class="flex flex-col gap-8">
        <%= render "weather/hourly_forecast" %>
        <%= render "weather/daily_forecast", current: current %>
      </div>
    </div>
  <% end %>
</main>
